<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="DaysLeft" android:allowBackup="true">
        <service
            android:name=".DaysWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper"/>
        </service>
    </application>
</manifest>